# Analyzing Well Bundles

## 1. Importing / Installing Packages

In [1]:
import pandas as pd # Importing pandas package

# Set the maximum number of columns to display to None
pd.set_option('display.max_columns', None)

import numpy as np # Importing numpy package

from typing import Dict, Tuple, List, Union # Importing specific types from typing module

import re # Importing regular expression package

from src.database_manager import DatabricksOdbcConnector # Importing DatabricksOdbcConnector class from database_manager module
from src.utils import reorder_columns # Importing reorder_columns function from utils module

from scipy.spatial.distance import cdist # Importing cdist function from scipy package

import time

import pyproj # Importing pyproj package

## 2. Loading Excel/csv into Pandas DataFrame

In [2]:
df_raw = pd.read_csv('wellHeader_with_Cluster.csv',dtype={'ChosenID':str},parse_dates=['FirstProdDate','Comp_Dt'])

In [3]:
# Renaming cluster column to bundle
df_raw = df_raw.rename(columns={'cluster':'bundle'})

In [4]:
# Sort by a specific column (e.g., 'bundle') in ascending order
df_raw.sort_values(by='bundle', ascending=True, ignore_index=True, inplace=True)

In [5]:
df_raw.shape

(2514, 20)

## 3. Data Preprocessing

### 3.1. Creating DSU Columns

In [6]:
# Creating DSU columns names from Lease Name columns

df_raw['DSU'] = df_raw['LeaseName'].apply(
    lambda x: re.sub(r'[^a-zA-Z\s]', ' ',  # Remove special characters, keep letters and spaces
                     re.match(r'([^\d]+)', str(x)).group(1) if pd.notna(x) and re.match(r'([^\d]+)', str(x)) else str(x))  
                    .strip()  # Strip leading/trailing spaces
).replace(r'\s+', ' ', regex=True)  # Collapse multiple spaces into a single space

# Placing DSU next to LeaseName
df_raw = reorder_columns(df=df_raw, columns_to_move=['DSU'], reference_column='LeaseName')

## 4. Feature Engineering

### 4.1. Creating dataframes that have more than one unique bundles or DSU

In [7]:
# Filter rows where the same DSU has more than one unique bundle
same_DSU_diffBundle_df = df_raw[df_raw.groupby("DSU")["bundle"].transform("nunique") > 1]

In [8]:
# Filter rows where the same bundle has more than one unique DSU
same_Bundle_diffDSU_df = df_raw[df_raw.groupby("bundle")["DSU"].transform("nunique") > 1]

### 4.2. Defining Functions that is used in calculation for i-k pair dataframe

In [9]:
def extract_heel_toe_mid_lat_lon(well_trajectory: pd.DataFrame) -> pd.DataFrame:
    """
    Extract the heel, toe, and mid-point latitude/longitude for each ChosenID in the well trajectory DataFrame.

    Parameters:
    well_trajectory: pd.DataFrame
        DataFrame containing well trajectory data, including 'ChosenID', 'md', 'latitude', and 'longitude'.

    Returns:
    pd.DataFrame
        A DataFrame with 'ChosenID', 'Heel_Lat', 'Heel_Lon', 'Toe_Lat', 'Toe_Lon', 'Mid_Lat', 'Mid_Lon'.

    Example:
    >>> data = {
    ...     "ChosenID": [1001, 1001, 1001, 1002, 1002],
    ...     "md": [5000, 5100, 5200, 6000, 6100],
    ...     "latitude": [31.388, 31.389, 31.387, 31.400, 31.401],
    ...     "longitude": [-103.314, -103.315, -103.316, -103.318, -103.319]
    ... }
    >>> df = pd.DataFrame(data)
    >>> extract_heel_toe_mid_lat_lon(df)
       ChosenID  Heel_Lat  Heel_Lon  Toe_Lat  Toe_Lon  Mid_Lat  Mid_Lon
    0     1001    31.388  -103.314   31.387  -103.316  31.3875 -103.315
    1     1002    31.400  -103.318   31.401  -103.319  31.4005 -103.3185
    """
    # Ensure the data is sorted by MD in ascending order
    well_trajectory = well_trajectory.sort_values(by=["ChosenID", "md"], ascending=True)

    # Group by 'ChosenID' and extract heel/toe lat/lon
    heel_toe_df = (
        well_trajectory.groupby("ChosenID")
        .agg(
            heel_lat=("latitude", "first"),
            heel_lon=("longitude", "first"),
            toe_lat=("latitude", "last"),
            toe_lon=("longitude", "last"),
        )
        .reset_index()
    )

    # Calculate midpoints
    heel_toe_df["mid_Lat"] = (heel_toe_df["heel_lat"] + heel_toe_df["toe_lat"]) / 2
    heel_toe_df["mid_Lon"] = (heel_toe_df["heel_lon"] + heel_toe_df["toe_lon"]) / 2

    return heel_toe_df

In [10]:
def get_direction(lat1: np.ndarray, lon1: np.ndarray, lat2: np.ndarray, lon2: np.ndarray) -> np.ndarray:
    """
    Determine the relative direction of (lat2, lon2) with respect to (lat1, lon1).
    
    Parameters:
    lat1, lon1: np.ndarray
        Latitude and longitude of the first well.
    lat2, lon2: np.ndarray
        Latitude and longitude of the second well.
    
    Returns:
    np.ndarray
        Array indicating the direction (e.g., North, South, East, West) of well B relative to well A.
    """
    lat_diff = lat2 - lat1
    lon_diff = lon2 - lon1

    conditions = [
        np.abs(lat_diff) > np.abs(lon_diff),
        lat_diff > 0,
        lon_diff > 0
    ]

    choices = ["North", "South", "East", "West"]
    
    return np.select(
        [conditions[0] & conditions[1], conditions[0] & ~conditions[1], ~conditions[0] & conditions[2], ~conditions[0] & ~conditions[2]],
        choices
    )

In [11]:
def calculate_drill_direction_vectorized(well_trajectories: Dict[str, pd.DataFrame], i_indices: np.ndarray) -> np.ndarray:
    """
    Vectorized function to determine the drilling direction of multiple wells using NumPy operations.
    
    Parameters:
    well_trajectories: Dict[str, pd.DataFrame]
        Dictionary containing well trajectory data indexed by ChosenID.
    i_indices: np.ndarray
        Array of ChosenID whose drill directions need to be calculated.
    
    Returns:
    np.ndarray
        Array containing "EW" (East-West) or "NS" (North-South) for each well.
    """
    azimuth_values = np.array([well_trajectories[i]["azimuth"].mean() if not well_trajectories[i].empty else np.nan for i in i_indices])
    
    conditions = (45 <= azimuth_values) & (azimuth_values < 135) | (225 <= azimuth_values) & (azimuth_values < 315)
    drill_directions = np.where(np.isnan(azimuth_values), "Unknown", np.where(conditions, "EW", "NS"))
    
    return drill_directions

In [12]:
def optimized_calculate_3D_distance_matrix(
    trajectories: Dict[str, pd.DataFrame], i_indices: np.ndarray, k_indices: np.ndarray
) -> Tuple[np.ndarray, np.ndarray, np.ndarray]:
    """
    Fully vectorized 3D distance calculations for well pairs using NumPy and Pandas.
    
    Parameters:
    trajectories: Dict[str, pd.DataFrame]
        Dictionary containing well trajectory data indexed by well ID.
    i_indices: np.ndarray
        Array of well IDs representing the first well in each pair.
    k_indices: np.ndarray
        Array of well IDs representing the second well in each pair.
    
    Returns:
    Tuple[np.ndarray, np.ndarray, np.ndarray]
        - Horizontal distances between the well pairs.
        - Vertical distances between the well pairs.
        - 3D distances between the well pairs.
    """
    # 🚀 Precompute mean (midpoint) for each well ID across all wells at once
    all_trajectories_df = pd.concat(trajectories.values(), keys=trajectories.keys()).reset_index(drop=True)

    midpoints_df = all_trajectories_df.groupby("ChosenID")[["x", "y", "tvd"]].mean()

    # Convert to NumPy arrays for fast lookup
    well_ids = midpoints_df.index.to_numpy()
    midpoints = midpoints_df.to_numpy()

    # Create a mapping from well ID to its index
    well_id_to_idx = {well_id: idx for idx, well_id in enumerate(well_ids)}

    # Efficiently extract midpoints using NumPy indexing
    mid_A = midpoints[np.array([well_id_to_idx[i] for i in i_indices])]
    mid_B = midpoints[np.array([well_id_to_idx[k] for k in k_indices])]

    # Compute distances
    vertical_distances = np.abs(mid_A[:, 2] - mid_B[:, 2])
    mid_B[:, 2] = mid_A[:, 2]  # Align Well B to Well A’s TVD

    horizontal_distances = np.linalg.norm(mid_A[:, :2] - mid_B[:, :2], axis=1)
    total_3D_distances = np.sqrt(horizontal_distances**2 + vertical_distances**2)

    return horizontal_distances, vertical_distances, total_3D_distances

In [13]:
def create_i_k_pairs(df: pd.DataFrame, trajectories: Union[Dict[str, pd.DataFrame], pd.DataFrame]) -> pd.DataFrame:
    """
    Generate the i_k_pairs DataFrame, computing horizontal and vertical distances, 
    3D distances, drilling directions, and relative directions between well pairs.
    
    Parameters:
    df: pd.DataFrame
        DataFrame containing well metadata with:
        - "ChosenID" (str): Unique well identifier.

    trajectories: Union[Dict[str, pd.DataFrame], pd.DataFrame]
        Either:
        - A dictionary mapping well IDs ("ChosenID") to trajectory DataFrames.
        - A single DataFrame containing all trajectory data (must have "ChosenID" column).
        
    Each trajectory DataFrame should include:
    - "md" (float): Measured depth.
    - "tvd" (float): True vertical depth.
    - "inclination" (float): Inclination angle in degrees.
    - "azimuth" (float): represents the drilling direction.
    - "latitude" (float): Latitude values, define the geographical position.
    - "longitude" (float): Longitude values, define the geographical position.
    - "x" (float): X-coordinate in a Cartesian coordinate system.
    - "y" (float): Y-coordinate in a Cartesian coordinate system.
    
    Returns:
    pd.DataFrame
        DataFrame containing pairs of wells (`i_uwi`, `k_uwi`) with their computed distances 
        and directional relationships.
    """
    start_time = time.time()
    
    # Convert to dictionary if input is a DataFrame
    step1_start = time.time()
    if isinstance(trajectories, pd.DataFrame):
        if "ChosenID" not in trajectories.columns:
            raise ValueError("🚨 Error: Trajectory DataFrame must contain a 'ChosenID' column.")
        trajectories = {cid: group for cid, group in trajectories.groupby("ChosenID")}
    step1_end = time.time()
    print(f"✅ Step 1: Converted trajectory DataFrame to dictionary in {step1_end - step1_start:.4f} seconds.")

    # Get unique ChosenIDs from df
    step2_start = time.time()
    chosen_ids = df["ChosenID"].unique()
    missing_ids = [cid for cid in chosen_ids if cid not in trajectories]

    if missing_ids:
        print(f"⚠️ The following ChosenIDs do not exist in the trajectory data and will be excluded: {missing_ids}")

    df = df[df["ChosenID"].isin(trajectories)] # Filter out missing IDs in the DataFrame
    chosen_ids = df["ChosenID"].unique() # Update chosen_ids without missing IDs
    step2_end = time.time()
    print(f"✅ Step 2: Extracted unique ChosenIDs in {step2_end - step2_start:.4f} seconds.")

    # Generate all possible pairs (excluding self-comparison)
    step3_start = time.time()
    i_uwi, k_uwi = np.meshgrid(chosen_ids, chosen_ids, indexing='ij')
    i_uwi, k_uwi = i_uwi.ravel(), k_uwi.ravel()

    # Remove self-comparisons
    valid_mask = i_uwi != k_uwi
    i_uwi, k_uwi = i_uwi[valid_mask], k_uwi[valid_mask]
    step3_end = time.time()
    print(f"✅ Step 3: Generated well pairs in {step3_end - step3_start:.4f} seconds.")

    # 🚀 Optimized Heel/Toe Extraction (Vectorized)
    step4_start = time.time()
    heel_toe_df = pd.concat(
        [extract_heel_toe_mid_lat_lon(trajectories[cid]) for cid in chosen_ids], ignore_index=True
    )
    heel_toe_dict = heel_toe_df.set_index("ChosenID").to_dict(orient="index")
    step4_end = time.time()
    print(f"✅ Step 4: Heel/Toe extraction took {step4_end - step4_start:.4f} seconds.")

    # Efficiently extract values using vectorized lookups
    step5_start = time.time()
    heel_lat_i = np.array([heel_toe_dict[i]["heel_lat"] for i in i_uwi])
    heel_lon_i = np.array([heel_toe_dict[i]["heel_lon"] for i in i_uwi])
    toe_lat_k = np.array([heel_toe_dict[k]["toe_lat"] for k in k_uwi])
    toe_lon_k = np.array([heel_toe_dict[k]["toe_lon"] for k in k_uwi])
    step5_end = time.time()
    print(f"✅ Step 5: Heel/Toe dictionary lookup took {step5_end - step5_start:.4f} seconds.")

    # 🚀 Optimized Distance Calculation (Fully Vectorized)
    step6_start = time.time()
    horizontal_dist, vertical_dist, total_3D_dist = optimized_calculate_3D_distance_matrix(trajectories, i_uwi, k_uwi)
    step6_end = time.time()
    print(f"✅ Step 6: Distance calculations took {step6_end - step6_start:.4f} seconds.")

    # Compute drill directions
    step7_start = time.time()
    drill_directions = calculate_drill_direction_vectorized(trajectories, i_uwi)
    step7_end = time.time()
    print(f"✅ Step 7: Drill direction calculation took {step7_end - step7_start:.4f} seconds.")

    # Determine directional relationship
    step8_start = time.time()
    ward_of_i = get_direction(heel_lat_i, heel_lon_i, toe_lat_k, toe_lon_k)
    step8_end = time.time()
    print(f"✅ Step 8: Directional relationship calculation took {step8_end - step8_start:.4f} seconds.")

    # Create DataFrame
    step9_start = time.time()
    result_df = pd.DataFrame({
        "i_uwi": i_uwi,
        "k_uwi": k_uwi,
        "horizontal_dist": horizontal_dist,
        "vertical_dist": vertical_dist,
        "3D_ft_to_same": total_3D_dist,
        "drill_direction": drill_directions,
        "ward_of_i": ward_of_i
    })
    step9_end = time.time()
    print(f"✅ Step 9: Created result DataFrame in {step9_end - step9_start:.4f} seconds.")

    total_time = time.time() - start_time
    print(f"🚀 Total Execution Time: {total_time:.4f} seconds.")

    return result_df

In [14]:
def calculate_overlap(well_A: pd.DataFrame, well_B: pd.DataFrame) -> float:
    """
    Calculate the percentage overlap between two horizontal wellbores.
    
    Parameters:
    well_A: pd.DataFrame
        Well trajectory data for Well A, including 'MD' (Measured Depth) and 'Inclination'.
    well_B: pd.DataFrame
        Well trajectory data for Well B, including 'MD' (Measured Depth) and 'Inclination'.
    
    Returns:
    float:
        Percentage of overlap relative to the shorter lateral.
    """
    if well_A.empty or well_B.empty:
        return 0.0

    start_A, end_A = well_A["MD"].min(), well_A["MD"].max()
    start_B, end_B = well_B["MD"].min(), well_B["MD"].max()

    overlap_start = max(start_A, start_B)
    overlap_end = min(end_A, end_B)

    if overlap_start >= overlap_end:
        return 0.0

    overlap_length = overlap_end - overlap_start
    shorter_length = min(end_A - start_A, end_B - start_B)

    return (overlap_length / shorter_length) * 100 if shorter_length > 0 else 0.0

### 4.2. Defining Functions that is used to compute Lat/Lon to UTM Co-Ordinates

In [15]:
def determine_utm_zone(longitude: float) -> int:
    """
    Determines the UTM zone based on a given longitude.
    """
    return int((longitude + 180) / 6) + 1


def batch_latlon_to_utm(lat: np.ndarray, lon: np.ndarray, utm_zone: int) -> Tuple[np.ndarray, np.ndarray]:
    """
    Converts arrays of latitudes and longitudes to UTM coordinates in meters for a given UTM zone.
    """
    proj_utm = pyproj.Transformer.from_crs(
        "EPSG:4326", f"EPSG:326{utm_zone}", always_xy=True
    )
    
    return proj_utm.transform(lon, lat)


def compute_utm_coordinates(df: pd.DataFrame) -> pd.DataFrame:
    """
    Computes UTM (x, y, z) coordinates for multiple wells, using surface location to determine UTM zones.
    Converts UTM coordinates from meters to feet. Uses vectorized batch processing for performance.

    Parameters:
    - df (pd.DataFrame): Original directional survey DataFrame.

    Returns:
    - pd.DataFrame: DataFrame with all original columns + x, y, z (in feet), and utm_zone.
    """
    start_time = time.time()  # Start timing

    # Step 1: Sort dataframe by md to identify surface location
    df = df.sort_values(by=["ChosenID", "md"], ascending=[True, True])
    
    # Step 2: Determine UTM zones using the surface location (first row per well)
    surface_locs = df.groupby("ChosenID").first()[["latitude", "longitude"]]
    surface_locs["utm_zone"] = surface_locs["longitude"].apply(determine_utm_zone)

    # Merge UTM zones back into the original dataframe
    df = df.merge(surface_locs[["utm_zone"]], on="ChosenID", how="left")

    print(f"✅ Determined UTM zones in {time.time() - start_time:.4f} seconds.")

    # Step 3: Batch transformation for each unique UTM zone
    start_transform_time = time.time()
    unique_zones = df["utm_zone"].unique()
    utm_converters: Dict[int, Tuple[np.ndarray, np.ndarray]] = {}

    for zone in unique_zones:
        subset = df[df["utm_zone"] == zone]
        easting, northing = batch_latlon_to_utm(subset["latitude"].values, subset["longitude"].values, zone)
        utm_converters[zone] = (easting, northing)

    print(f"✅ Performed batch EPSG transformations in {time.time() - start_transform_time:.4f} seconds.")

    # Step 4: Assign the converted coordinates back to the DataFrame
    start_assign_time = time.time()
    df["x"], df["y"] = np.zeros(len(df)), np.zeros(len(df))

    for zone in unique_zones:
        mask = df["utm_zone"] == zone
        df.loc[mask, "x"], df.loc[mask, "y"] = utm_converters[zone]

    print(f"✅ Assigned transformed coordinates in {time.time() - start_assign_time:.4f} seconds.")

    # Step 5: Convert UTM coordinates from meters to feet (Conversion factor: 1 meter = 3.28084 feet)
    df["x"] *= 3.28084
    df["y"] *= 3.28084
    
    df["z"] = -df["tvd"] # Elevation is negative TVD

    print(f"✅ Total execution time: {time.time() - start_time:.4f} seconds.")

    return df

In [16]:
def filter_after_heel_point(df: pd.DataFrame) -> pd.DataFrame:
    """
    Filters the dataframe to include all rows for each ChosenID where the first occurrence 
    of either '80' or 'heel' appears in the point_type column and all subsequent rows.

    Parameters:
    df (pd.DataFrame): A dataframe containing directional survey data with a 'ChosenID' column and 'point_type' column.

    Returns:
    pd.DataFrame: Filtered dataframe containing rows from the first occurrence of '80' or 'heel' onward.
    """

    # Convert 'point_type' to lowercase and check for '80' or 'heel'
    mask = df['point_type'].str.lower().str.contains(r'80|heel', regex=True, na=False)

    # Identify the first occurrence for each ChosenID
    idx_start = df[mask].groupby('ChosenID', sort=False).head(1).index

    # Create a mapping of ChosenID to the starting index
    start_idx_map = dict(zip(df.loc[idx_start, 'ChosenID'], idx_start))

    # Create a boolean mask using NumPy to filter rows
    chosen_ids = df['ChosenID'].values
    indices = np.arange(len(df))

    # Get the minimum start index for each row's ChosenID
    start_indices = np.vectorize(start_idx_map.get, otypes=[float])(chosen_ids)

    # Mask rows where index is greater than or equal to the start index
    valid_rows = indices >= start_indices

    return df[valid_rows].reset_index(drop=True)

## 5. Testinig

In [17]:
# Importing Directional Survey data from Databricks

databricks = DatabricksOdbcConnector()

# Filtering only Horizontal wells and getting their apis
chosen_ids = ", ".join(f"'{id}'" for id in df_raw[df_raw['HoleDirection']=='H']['ChosenID'].unique())

try:
    databricks.connect()

    query = f"""
    SELECT
        LEFT(uwi, 10) AS ChosenID, 
        station_md_uscust AS md, 
        station_tvd_uscust AS tvd,
        inclination, 
        azimuth, 
        latitude, 
        longitude, 
        x_offset_uscust AS `deviation_E/W`,
        ew_direction,
        y_offset_uscust AS `deviation_N/S`,
        ns_direction,
        point_type
        
    FROM ihs_sp.well.well_directional_survey_station
    WHERE LEFT(uwi, 10) IN ({chosen_ids})
    order by uwi, md;
    """

    df_directional = databricks.execute_query(query)

except Exception as e:
    print(f"Error: {e}")

finally:
    databricks.close_connection()

c:\users\apoorva.saxena\onedrive - sitio royalties\desktop\project - apoorva\python\parent_child_spacing\src\database_manager.py:85: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(sql_query, self.connection)

In [18]:
df_with_utm = compute_utm_coordinates(df_directional)

✅ Determined UTM zones in 0.7492 seconds.
✅ Performed batch EPSG transformations in 0.2651 seconds.
✅ Assigned transformed coordinates in 0.0107 seconds.
✅ Total execution time: 1.0466 seconds.

In [19]:
filtered_df = filter_after_heel_point(df_with_utm)

In [20]:
df_ik_pairs = create_i_k_pairs(df=df_raw, trajectories=filtered_df[['ChosenID','md','tvd','inclination','azimuth','latitude','longitude','x','y']])

✅ Step 1: Converted trajectory DataFrame to dictionary in 0.1134 seconds.
⚠️ The following ChosenIDs do not exist in the trajectory data and will be excluded: ['4238935783', '4238933169', '4238940091', '4238937586', '4238930501', '4238932194', '4238937713', '4238933558', '4238930262', '4238933989', '4238931100', '4238937707', '4238910420', '4238939527', '4238940159', '4238940321', '4238940597', '4238940596', '4238940594', '4238940625']
✅ Step 2: Extracted unique ChosenIDs in 0.0125 seconds.
✅ Step 3: Generated well pairs in 0.2301 seconds.
✅ Step 4: Heel/Toe extraction took 16.6874 seconds.
✅ Step 5: Heel/Toe dictionary lookup took 4.1905 seconds.
✅ Step 6: Distance calculations took 2.5170 seconds.
✅ Step 7: Drill direction calculation took 145.5827 seconds.
✅ Step 8: Directional relationship calculation took 0.2239 seconds.
✅ Step 9: Created result DataFrame in 1.9453 seconds.
🚀 Total Execution Time: 171.5041 seconds.

### 5.1. Defining Functions

In [21]:
def extract_top_two_values(ik_pair: pd.DataFrame, header: pd.DataFrame) -> pd.DataFrame:
    """
    Extracts the first two k_uwi values and corresponding horizontal_dist values
    for each unique i_uwi. It processes the data separately based on:
    
    - When `Landing_Zone_i == Landing_Zone_k` (same landing zone)
    - When `Landing_Zone_i != Landing_Zone_k` (different landing zones)
    
    The function sorts the data by `i_uwi` and `horizontal_dist` before grouping,
    ensuring that the two nearest `k_uwi` values are extracted.

    Parameters:
    ----------
    df : pd.DataFrame
        A DataFrame containing the following columns:
        - `i_uwi` (int): Unique identifier for well i
        - `k_uwi` (int): Unique identifier for well k
        - `Landing_Zone_i` (str): Landing zone for well i
        - `Landing_Zone_k` (str): Landing zone for well k
        - `horizontal_dist` (float): Distance between wells i and k

    Returns:
    -------
    pd.DataFrame
        A DataFrame containing:
        - `i_uwi`: Unique well identifier
        - `k_uwi_same1`, `horizontal_dist_same1`: First closest match for the same landing zone
        - `k_uwi_same2`, `horizontal_dist_same2`: Second closest match for the same landing zone
        - `k_uwi_diff1`, `horizontal_dist_diff1`: First closest match for a different landing zone
        - `k_uwi_diff2`, `horizontal_dist_diff2`: Second closest match for a different landing zone

    Example Usage:
    --------------
    >>> data = {
    ...     "i_uwi": [4238910251, 4238910251, 4238910251, 4238910251],
    ...     "k_uwi": [4238932199, 4238934804, 4238910422, 4238932210],
    ...     "Landing_Zone_i": ["DEVONIAN", "DEVONIAN", "DEVONIAN", "DEVONIAN"],
    ...     "Landing_Zone_k": ["DEVONIAN", "WCA", "DEVONIAN", "DEVONIAN"],
    ...     "horizontal_dist": [3293.97, 6238.26, 7789.78, 7950.35]
    ... }
    >>> df = pd.DataFrame(data)
    >>> result = extract_top_two_values(df)
    >>> print(result)
    """
    
    df_merge_ikPair_header = ik_pair.merge(header.rename(columns={'ChosenID':'i_uwi'})[['i_uwi','Landing_Zone']], how='left').merge(
        header.rename(columns={'ChosenID':'k_uwi'})[['k_uwi','Landing_Zone']], how='left', on='k_uwi', suffixes=('_i', '_k'))
    
    df = df_merge_ikPair_header.groupby(['i_uwi','k_uwi','Landing_Zone_i','Landing_Zone_k'])[['horizontal_dist']].min().reset_index().sort_values(by=['i_uwi','horizontal_dist'], ascending=[True,True],ignore_index=True)
    
    # Sort DataFrame for stable ordering
    df_sorted = df.sort_values(by=["i_uwi", "horizontal_dist"])
    
    # Separate data into same and different Landing Zone groups
    df_same = df_sorted[df_sorted["Landing_Zone_i"] == df_sorted["Landing_Zone_k"]]
    df_diff = df_sorted[df_sorted["Landing_Zone_i"] != df_sorted["Landing_Zone_k"]]

    # Get unique i_uwi values
    unique_i_uwi = df_sorted["i_uwi"].unique()

    # Initialize arrays for both cases
    k_uwi_same1 = np.full_like(unique_i_uwi, "", dtype=object)
    horizontal_dist_same1 = np.full_like(unique_i_uwi, np.nan, dtype=np.float64)
    k_uwi_same2 = np.full_like(unique_i_uwi, "", dtype=object)
    horizontal_dist_same2 = np.full_like(unique_i_uwi, np.nan, dtype=np.float64)

    k_uwi_diff1 = np.full_like(unique_i_uwi, "", dtype=object)
    horizontal_dist_diff1 = np.full_like(unique_i_uwi, np.nan, dtype=np.float64)
    k_uwi_diff2 = np.full_like(unique_i_uwi, "", dtype=object)
    horizontal_dist_diff2 = np.full_like(unique_i_uwi, np.nan, dtype=np.float64)

    # Group by 'i_uwi' and extract first two values
    grouped_same = df_same.groupby("i_uwi")[["k_uwi", "horizontal_dist"]].apply(lambda x: x.values[:2])
    grouped_diff = df_diff.groupby("i_uwi")[["k_uwi", "horizontal_dist"]].apply(lambda x: x.values[:2])

    for idx, i_uwi in enumerate(unique_i_uwi):
        values_same = grouped_same.get(i_uwi, [])
        values_diff = grouped_diff.get(i_uwi, [])
        
        if len(values_same) > 0:
            k_uwi_same1[idx], horizontal_dist_same1[idx] = str(values_same[0][0]), values_same[0][1]
        if len(values_same) > 1:
            k_uwi_same2[idx], horizontal_dist_same2[idx] = str(values_same[1][0]), values_same[1][1]
        
        if len(values_diff) > 0:
            k_uwi_diff1[idx], horizontal_dist_diff1[idx] = str(values_diff[0][0]), values_diff[0][1]
        if len(values_diff) > 1:
            k_uwi_diff2[idx], horizontal_dist_diff2[idx] = str(values_diff[1][0]), values_diff[1][1]

    # Create final DataFrame
    return pd.DataFrame({
        "i_uwi": unique_i_uwi,
        "k_uwi_same1": k_uwi_same1.astype(object),
        "horizontal_dist_same1": horizontal_dist_same1,
        "k_uwi_same2": k_uwi_same2.astype(object),
        "horizontal_dist_same2": horizontal_dist_same2,
        "k_uwi_near1": k_uwi_diff1.astype(object),
        "horizontal_dist_near1": horizontal_dist_diff1,
        "k_uwi_near2": k_uwi_diff2.astype(object),
        "horizontal_dist_near2": horizontal_dist_diff2
    })

In [22]:
def extract_top_two_values_(ik_pair: pd.DataFrame, header: pd.DataFrame) -> pd.DataFrame:
    """
    Extracts the first two `k_uwi` values and corresponding `horizontal_dist` values
    for each unique `i_uwi` for:
    - Same Landing Zone (`Landing_Zone_i == Landing_Zone_k`).
    - Different Landing Zones (`Landing_Zone_i != Landing_Zone_k`).

    Efficiently merges `WellName`, `DSU`, `RES_CAT`, `Landing_Zone`, `FirstProdDate` 
    for `i_uwi`, `k_uwi_same1`, `k_uwi_same2`, `k_uwi_near1`, and `k_uwi_near2`.

    Parameters:
    ----------
    ik_pair : pd.DataFrame
        Contains `i_uwi`, `k_uwi`, and `horizontal_dist`.

    header : pd.DataFrame
        Contains well metadata including `WellName`, `DSU`, `RES_CAT`, `Landing_Zone`, `FirstProdDate`.

    Returns:
    -------
    pd.DataFrame
        Enriched dataset containing closest wells with attributes.
    """

    # Sort header for efficient merging
    header_sorted = header.sort_values(by="ChosenID")

    # Merge Landing_Zone information only once
    df_merge = ik_pair.merge(
        header_sorted[["ChosenID", "Landing_Zone"]].rename(columns={'ChosenID': 'i_uwi'}),
        how="left", on="i_uwi"
    ).merge(
        header_sorted[["ChosenID", "Landing_Zone"]].rename(columns={'ChosenID': 'k_uwi'}),
        how="left", on="k_uwi", suffixes=("_i", "_k")
    )

    # Keep only the smallest `horizontal_dist` per (i_uwi, k_uwi)
    df = df_merge.groupby(['i_uwi', 'k_uwi', 'Landing_Zone_i', 'Landing_Zone_k'])[['horizontal_dist']].min().reset_index()

    # Sort DataFrame efficiently
    df_sorted = df.sort_values(by=['i_uwi', 'horizontal_dist']).reset_index(drop=True)

    # Extract top 2 `k_uwi` values separately for same & different landing zones
    df_same = df_sorted[df_sorted["Landing_Zone_i"] == df_sorted["Landing_Zone_k"]].groupby("i_uwi").head(2)
    df_diff = df_sorted[df_sorted["Landing_Zone_i"] != df_sorted["Landing_Zone_k"]].groupby("i_uwi").head(2)

    def pivot_top_two(df, zone_type):
        """Helper function to pivot grouped data into `k_uwi_*` and `horizontal_dist_*` columns."""
        df["rank"] = df.groupby("i_uwi").cumcount() + 1  # Create ranking (1 or 2) for each i_uwi
        df_pivot = df.pivot(index="i_uwi", columns="rank", values=["k_uwi", "horizontal_dist"])

        # Correct column renaming based on the landing zone type
        df_pivot.columns = [
            f"k_uwi_{zone_type}{col[1]}" if col[0] == "k_uwi" else f"horizontal_dist_{zone_type}{col[1]}"
            for col in df_pivot.columns
        ]

        return df_pivot.reset_index()

    # Pivot for both same and different Landing Zones
    df_same_pivot = pivot_top_two(df_same, "same")
    df_diff_pivot = pivot_top_two(df_diff, "near")

    final_df = df_same_pivot.merge(df_diff_pivot, how="outer", on="i_uwi")
    final_df = final_df.merge(header_sorted[['ChosenID','WellName','DSU','RES_CAT','Landing_Zone','FirstProdDate']], how="left", left_on="i_uwi", right_on="ChosenID")

    # Merge well attributes for `k_uwi_same1`, `k_uwi_same2`, `k_uwi_near1`, `k_uwi_near2`
    header_colms = ["ChosenID", "WellName", "RES_CAT", "Landing_Zone", "FirstProdDate"]
    well_pair_cols = ["k_uwi_same1", "k_uwi_same2", "k_uwi_near1", "k_uwi_near2"]

    for col in well_pair_cols:
        suffix = f"_{col.split('_')[-1]}"  # Extract full suffix (_same1, _same2, _near1, _near2)
        final_df = final_df.merge(
            header_sorted[header_colms],
            how="left",
            left_on=col,
            right_on="ChosenID",
            suffixes=("", suffix)
        )

    # Convert categorical fields to `category` dtype for memory efficiency
    for col in ["WellName", "DSU", "RES_CAT", "Landing_Zone"]:
        final_df[col] = final_df[col].astype("category")

    # Convert numerical columns to `float32`
    for col in ["horizontal_dist_same1", "horizontal_dist_same2", "horizontal_dist_near1", "horizontal_dist_near2"]:
        final_df[col] = final_df[col].astype(np.float32)

    # Remove redundant columns
    final_df.drop(columns=["ChosenID","ChosenID_same1","ChosenID_same2","ChosenID_near1","ChosenID_near2"], inplace=True, errors="ignore")

    return final_df

In [82]:
header = df_raw.copy()
ik_pair = df_ik_pairs.copy()

# Sort header for efficient merging
header_sorted = header.sort_values(by="ChosenID")

# Merge Landing_Zone information only once
df_merge = ik_pair.merge(
    header_sorted[["ChosenID", "Landing_Zone"]].rename(columns={'ChosenID': 'i_uwi'}),
    how="left", on="i_uwi"
).merge(
    header_sorted[["ChosenID", "Landing_Zone"]].rename(columns={'ChosenID': 'k_uwi'}),
    how="left", on="k_uwi", suffixes=("_i", "_k")
)

In [83]:
# Keep only the smallest `horizontal_dist` per (i_uwi, k_uwi)
df_grouped_horiz = df_merge.groupby(['i_uwi', 'k_uwi', 'Landing_Zone_i', 'Landing_Zone_k'])[['horizontal_dist']].min().reset_index()

# Keep only the smallest `vertical_dist` per (i_uwi, k_uwi)
df_grouped_vert = df_merge.groupby(['i_uwi', 'k_uwi', 'Landing_Zone_i', 'Landing_Zone_k'])[['vertical_dist']].min().reset_index()

In [84]:
# Sort DataFrame efficiently
df_sorted_horiz = df_grouped_horiz.sort_values(by=['i_uwi', 'horizontal_dist']).reset_index(drop=True)
df_sorted_vert = df_grouped_vert.sort_values(by=['i_uwi', 'vertical_dist']).reset_index(drop=True)

In [85]:
# Extract top 2 `k_uwi` values separately for same & different landing zones
df_same = df_sorted_horiz[df_sorted_horiz["Landing_Zone_i"] == df_sorted_horiz["Landing_Zone_k"]].groupby("i_uwi").head(2)

df_diff = df_sorted_vert[df_sorted_vert["Landing_Zone_i"] != df_sorted_vert["Landing_Zone_k"]].groupby("i_uwi").head(2)

In [86]:
# Pivot for both same and different Landing Zones
def pivot_top_two(df, zone_type):
    """Helper function to pivot grouped data into `k_uwi_*`, `horizontal_dist_*`, and `vertical_dist_*` columns."""
    df["rank"] = df.groupby("i_uwi").cumcount() + 1  # Create ranking (1 or 2) for each i_uwi

    # Identify available columns for pivoting
    available_cols = ["k_uwi"] + list(df.columns.intersection(["horizontal_dist", "vertical_dist"]))

    # Pivot only available columns
    df_pivot = df.pivot(index="i_uwi", columns="rank", values=available_cols)

    # Correct column renaming based on the landing zone type
    df_pivot.columns = [
        f"k_uwi_{zone_type}{col[1]}" if col[0] == "k_uwi"
        else f"horizontal_dist_{zone_type}{col[1]}" if col[0] == "horizontal_dist"
        else f"vertical_dist_{zone_type}{col[1]}"
        for col in df_pivot.columns
    ]

    return df_pivot.reset_index()

In [87]:
# Pivot for both same and different Landing Zones
df_same_pivot = pivot_top_two(df_same, "same")
df_diff_pivot = pivot_top_two(df_diff, "near")

final_df = df_same_pivot.merge(df_diff_pivot, how="outer", on="i_uwi")

In [88]:
# Merging well attributes for `i_uwi`
final_df = final_df.merge(header_sorted[['ChosenID','WellName','DSU','RES_CAT','Landing_Zone','FirstProdDate']].rename(columns={'ChosenID':'i_uwi'}), 
                          how="left")

In [89]:
# Merging well attributes for `k_uwi_same1`
final_df = final_df.merge(header_sorted[['ChosenID','WellName','RES_CAT','Landing_Zone','FirstProdDate']].rename(columns={'ChosenID':'k_uwi_same1'}), 
                          how="left", suffixes=("", "_same1"), right_on="k_uwi_same1", left_on="k_uwi_same1")

In [90]:
# Merging well attributes for , `k_uwi_same2`
final_df = final_df.merge(header_sorted[['ChosenID','WellName','RES_CAT','Landing_Zone','FirstProdDate']].rename(columns={'ChosenID':'k_uwi_same2'}), 
                          how="left", suffixes=("", "_same2"), right_on="k_uwi_same2", left_on="k_uwi_same2")

In [91]:
# Merging well attributes for `k_uwi_near1`
final_df = final_df.merge(header_sorted[['ChosenID','WellName','RES_CAT','Landing_Zone','FirstProdDate']].rename(columns={'ChosenID':'k_uwi_near1'}), 
                          how="left", suffixes=("", "_near1"), right_on="k_uwi_near1", left_on="k_uwi_near1")

In [92]:
# Merging well attributes for `k_uwi_near2`
final_df = final_df.merge(header_sorted[['ChosenID','WellName','RES_CAT','Landing_Zone','FirstProdDate']].rename(columns={'ChosenID':'k_uwi_near2'}), 
                          how="left", suffixes=("", "_near2"), right_on="k_uwi_near2", left_on="k_uwi_near2")

In [93]:
# Merging ik_pair
final_df = final_df.merge(ik_pair[['i_uwi','k_uwi','vertical_dist','3D_ft_to_same']].rename(columns={
    'k_uwi':'k_uwi_same1',
    'vertical_dist':'vertical_dist_same1',
    '3D_ft_to_same':'3D_ft_to_same1'
}), 
               how='left', left_on=['i_uwi','k_uwi_same1'], right_on=['i_uwi','k_uwi_same1'], suffixes=("", "_same1"))

In [94]:
# Merging ik_pair
final_df = final_df.merge(ik_pair[['i_uwi','k_uwi','vertical_dist','3D_ft_to_same']].rename(columns={
    'k_uwi':'k_uwi_same2',
    'vertical_dist':'vertical_dist_same2',
    '3D_ft_to_same':'3D_ft_to_same2'
}), 
               how='left', left_on=['i_uwi','k_uwi_same2'], right_on=['i_uwi','k_uwi_same2'], suffixes=("", "_same2"))

In [95]:
# Merging ik_pair
final_df = final_df.merge(ik_pair[['i_uwi','k_uwi','horizontal_dist','3D_ft_to_same']].rename(columns={
    'k_uwi':'k_uwi_near1',
    'horizontal_dist':'horizontal_dist_near1',
    '3D_ft_to_same':'3D_ft_to_near1'
}), 
               how='left', left_on=['i_uwi','k_uwi_near1'], right_on=['i_uwi','k_uwi_near1'], suffixes=("", "_near1"))

In [96]:
# Merging ik_pair
final_df = final_df.merge(ik_pair[['i_uwi','k_uwi','horizontal_dist','3D_ft_to_same']].rename(columns={
    'k_uwi':'k_uwi_near2',
    'horizontal_dist':'horizontal_dist_near2',
    '3D_ft_to_same':'3D_ft_to_near2'
}), 
               how='left', left_on=['i_uwi','k_uwi_near2'], right_on=['i_uwi','k_uwi_near2'], suffixes=("", "_near2"))

In [99]:
len(final_df.columns)

38

In [100]:
reorder_columns(final_df,['WellName', 'DSU', 'RES_CAT', 'Landing_Zone', 'FirstProdDate',
                          'k_uwi_same1','WellName_same1','horizontal_dist_same1','vertical_dist_same1','3D_ft_to_same1','RES_CAT_same1', 'Landing_Zone_same1', 'FirstProdDate_same1',
                         'k_uwi_same2','WellName_same2','horizontal_dist_same2','vertical_dist_same2','3D_ft_to_same2', 'RES_CAT_same2', 'Landing_Zone_same2', 'FirstProdDate_same2',
                         'k_uwi_near1','WellName_near1','horizontal_dist_near1','vertical_dist_near1','3D_ft_to_near1', 'RES_CAT_near1', 'Landing_Zone_near1', 'FirstProdDate_near1',
                         'k_uwi_near2','WellName_near2','horizontal_dist_near2','vertical_dist_near2','3D_ft_to_near2', 'RES_CAT_near2', 'Landing_Zone_near2', 'FirstProdDate_near2'],
                         reference_column='i_uwi')

,i_uwi,WellName,DSU,RES_CAT,Landing_Zone,FirstProdDate,k_uwi_same1,WellName_same1,horizontal_dist_same1,vertical_dist_same1,3D_ft_to_same1,RES_CAT_same1,Landing_Zone_same1,FirstProdDate_same1,k_uwi_same2,WellName_same2,horizontal_dist_same2,vertical_dist_same2,3D_ft_to_same2,RES_CAT_same2,Landing_Zone_same2,FirstProdDate_same2,k_uwi_near1,WellName_near1,horizontal_dist_near1,vertical_dist_near1,3D_ft_to_near1,RES_CAT_near1,Landing_Zone_near1,FirstProdDate_near1,k_uwi_near2,WellName_near2,horizontal_dist_near2,vertical_dist_near2,3D_ft_to_near2,RES_CAT_near2,Landing_Zone_near2,FirstProdDate_near2
0,4238910251,BECKEN 11 1,BECKEN,01PDP,DEVONIAN,1966-06-01,4238932199,RAPE `14` 1H,3293.977691,362.404537,3313.853659,01PDP,DEVONIAN,2001-11-01,4238910422,TREES J C ESTATE ETAL 4H,7789.787864,497.902021,7805.683916,01PDP,DEVONIAN,1967-05-01,4238932145,EVANS N T 10H,50706.339069,52.10879,50706.365844,01PDP,WCA,1998-09-01,4238932273,HORRY PITTS 49 1H,45124.142926,189.848394,45124.542294,01PDP,ELBG,2003-12-01
1,4238910422,TREES J C ESTATE ETAL 4H,TREES J C ESTATE ETAL,01PDP,DEVONIAN,1967-05-01,4238932199,RAPE `14` 1H,4648.667281,860.306558,4727.603501,01PDP,DEVONIAN,2001-11-01,4238932244,BODKINS 12H,4849.931006,128.054030,4851.621234,01PDP,DEVONIAN,2002-11-01,4238932270,EVANS N T 12HU,48205.994027,22.097478,48205.999092,01PDP,WCA,2003-09-01,4238932145,EVANS N T 10H,48156.367575,445.793231,48158.430929,01PDP,WCA,1998-09-01
2,4238910461,BARBER W T 8H,BARBER W T,01PDP,WCA,1967-03-01,4238934872,LIGON STATE UNIT 7-22 1H,4902.723836,141.721362,4904.771754,01PDP,WCA,2015-09-01,4238935702,LIGON STATE UNIT 7-22 4313H,6681.482786,165.877161,6683.541535,01PDP,WCA,2018-03-01,4238937789,STATE SARAH LINK 3-2-6W 84H,51971.058159,0.12145,51971.058159,01PDP,3RD BS,2019-04-01,4238937634,OKINAWA 24-11 UNIT 1H,147604.690775,0.555667,147604.690776,01PDP,WCB,2020-01-01
3,4238910497,LIGON S E STATE 2H,LIGON S E STATE,01PDP,DEVONIAN,1967-09-01,4238932286,WAHLENMAIER STATE 5H,5523.86989,357.112593,5535.401337,01PDP,DEVONIAN,2004-10-01,4238930509,LIGON S E 18 71H,5987.869496,166.379576,5990.180570,01PDP,DEVONIAN,1977-12-01,4238932273,HORRY PITTS 49 1H,22208.249435,57.352557,22208.323491,01PDP,ELBG,2003-12-01,4238932231,LIGON S E `20` 1H,11686.026961,267.913295,11689.097641,01PDP,ELLENBURGER,2002-09-01
4,4238910511,CURRY UNIT 1H,CURRY UNIT,02PDNP,DEVONIAN,2006-08-01,4238932252,BEEFMASTER 1H,4516.825198,831.808042,4592.778515,01PDP,DEVONIAN,2003-04-01,4238932220,MONSANTO MCKELLER UNIT 2H,6820.048813,319.219475,6827.515425,01PDP,DEVONIAN,2002-03-01,4238932290,TEXACO 17 1H,85401.035382,240.904996,85401.375162,01PDP,WCA,2004-08-01,4238932231,LIGON S E `20` 1H,26781.435509,730.342235,26791.392045,01PDP,ELLENBURGER,2002-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2479,4238941111,COWHORN UNIT 208-209 22H,COWHORN UNIT,03PUD,WCA,2024-11-01,4238941109,COWHORN UNIT 208-209 41H,600.653691,329.248149,684.973869,03PUD,WCA,2024-11-01,4238941112,COWHORN UNIT 208-209 42H,723.662275,391.478804,822.765301,03PUD,WCA,2024-12-01,4238940015,REV WOR 3 / 7 0014TB,92829.506376,1.158085,92829.506383,01PDP,3RD BS,2023-08-01,4238940180,ASTRO STATE 51-7-22-15 D 82H,42600.039907,1.825718,42600.039946,01PDP,3RD BS,2022-12-01
2480,4238941112,COWHORN UNIT 208-209 42H,COWHORN UNIT,03PUD,WCA,2024-12-01,4238941111,COWHORN UNIT 208-209 22H,723.662275,391.478804,822.765301,03PUD,WCA,2024-11-01,4238941113,COWHORN UNIT 208-209 23H,851.371569,358.628822,923.822592,03PUD,WCA,2024-12-01,4238932977,PHANTOM-BURKHOLDER UNIT 1H,110647.954025,1.146117,110647.954031,01PDP,WCXY,2012-02-01,4238935378,REEVES STATE T7-50-30 11H,52984.470250,2.948522,52984.470332,01PDP,WCB,2017-09-01
2481,4238941113,COWHORN UNIT 208-209 23H,COWHORN UNIT,03PUD,WCA,2024-12-01,4238941112,COWHORN UNIT 208-209 42H,851.371569,358.628822,923.822592,03PUD,WCA,2024-12-01,4238941111,COWHORN UNIT 208-209 22H,1327.16517,32.849981,1327.571659,03PUD,WCA,2024-11-01,4238938554,GIGI STATE 12-13-1N 81H,51203.323118,1.578018,51203.323142,01PDP,3RD BS,2019-12-01,4238938216,CORIANDER 2524-C3 13H,149974.586471,1.614609,149974.586479,01PDP,3RD BS,2019-08-01
2482,4238941137,MOSAIC STATE UNIT 33-34 6TB,MOSAIC STATE UNIT,03PUD,3RD BS,2025-01-01,4238939888,MOSAIC STATE UNIT 33-34 12H,2981.493141,57.010724,2982.038157,01PDP,3RD BS,2022-12-01,4238938522,MOSAIC STATE UNIT 33-34 2H,4256.020256,138.528638,4258.274134,01PDP,3RD BS,2020-01-01,4238937548,DOC MARTENS UNIT U 03H,81239.575098,0.214725,81239.575099,01PDP,WCA,2019-08-01,4238939896,NOEL 313-312-311 C 12A,90673.318263,0.519266,90673.318264,01PDP,WCA,2023-03-01
2483,4238941155,REV CON T8-51-7 D 0024WA,REV CON T,03PUD,WCA,2024-12-01,4238940601,REV CON T8-51-7 C 0013WA,1587.467109,0.974519,1587.467408,03PUD,WCA,2024-07-01,4238940600,REV CON T8-51-7 B 0012WA,3138.584279,12.142145,3138.607766,03PUD,WCA,2024-07-01,4238938306,TASHA 17-20A 20H,109193.306923,0.334396,109193.306924,01PDP,WCC,2019-08-01,4238936645,RED ROCK B T 09H,93057.448487,1.073076,93057.448493,01PDP,3RD BS,2018-06-01